.field-cursor
{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    -moz-user-select: none;
         user-select: none;
    transition: .05s ease left, .05s ease top;

    outline: 5px solid rgba(255, 100, 0, 1);

    -webkit-tap-highlight-color: transparent;
}

.field-cursor_hidden
{
    visibility: hidden;
}

.field_two .field-cursor
{
    outline-color: rgba(0, 100, 255, 1);
}
