body.app_page_main .page_main
{
    display: block;
}

.page_main
{
    overflow: hidden;
}

.main-emoji
{
    display: block;
    margin: 5px;
    float: left;
    transition: opacity 1.5s;
    color: white;
    opacity: 0;
}

.main-bg
{
    position: absolute;
    left: -10%;
    top: 0;
    width: 120%;
    height: 100%;
}

.main-menu
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.main-menu li
{
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.main-menu .btn
{
    width: 7em;
}
